
body {
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  box-sizing: border-box;
}

.is-unremarkable {
  opacity: 0.6;
}

.is-unremarkable:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%,0);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,0.3);
}

