
body {
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  box-sizing: border-box;
}

.is-unremarkable {
  opacity: 0.6;
}

.is-unremarkable:hover {
  opacity: 1;
}
